* {
	-fx-primary: #980B0B;
	-fx-background: #660000;
}
.anchor-pane{
	-fx-background-color: -fx-primary;
}
.field{
	-fx-background-color: white;
	-fx-background-radius: 0px;
	-fx-border-width: 0.02em;
	-fx-border-radius: 0px;
	-fx-border-color: -fx-primary;
	-fx-display-caret: false;
	-fx-highlight-fill: transparent;
	-fx-highlight-text-fill: #323232;
}
.field:focused{
	-fx-background-color: rgb(203, 11, 11);
}
.solveButton{
	-fx-border-color: -fx-background;
	-fx-background-color: transparent;
	-fx-border-width: 3px;
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;

}